<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>browser-extension</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Banner-Heading-Image.css">
    <link rel="stylesheet" href="assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="height: 200px;min-height: 50px;">
    <section class="py-4 py-xl-5">
        <div class="container">
            <div class="text-center p-4 p-lg-5" style="margin: 0px;padding: 0px;">
                <p class="fw-bold text-primary mb-2" style="padding: 0px;margin: -29px;">PhishMan</p>
                <div class="row">
                    <div class="col">
                        <h1 class="fw-bold text-dark mb-4">Authentication succesful.<br><br></h1>
                        <h5 class="text-dark" style="font-size: 12px;margin: -36px;">Please open your e-mail to enable detection mode.</h5>
                    </div>
                </div>
                <footer class="text-center"></footer>
            </div>
        </div>
        <footer class="text-center bg-dark"></footer>
        <footer class="text-center"></footer>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center"><img src="assets/img/email.png" style="height: 57px;margin: 0px;padding: 0px;"></div>
        </div>
    </div>
    <footer class="text-center"></footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>